################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookShop/BookShop/obj
/BookShop/.vs/BookShop/v16
/BookShop/BookShop/bin/Debug/netcoreapp3.1
/BookShop/.vs/BookShop/config
